doctype html
html
  head
    title Kegalytics Setup
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
  body
    .container
      h1 Kegalytics Setup
      each num in [0,1]
        form.form-horizontal(role="form" method="post" action="/setup/kegs/" + num)
          .panel.panel-default

            .panel-heading
              h3.panel-title= 'Keg ' + (num + 1)

            .panel-body
              .form-group
                .col-sm-offset-2.col-sm-10
                  .checkbox
                    label
                      input.kegIsActive(type="checkbox" name="active" data-forfieldset="keg" + num checked=kegs[num].active)
                      | Keg is active

              fieldset(id="keg" + num disabled=(kegs[num].active == 'false' || !kegs[num].active))
                .form-group
                  label.col-sm-2.control-label Brewery
                  .col-sm-10
                    input.form-control(name="breweryName" id= "keg" + num + "Brewery" type="text" required value=kegs[num].breweryName)

                .form-group
                  label.col-sm-2.control-label Brewery Location
                  .col-sm-10
                    input.form-control(name="breweryLocation" id= "keg" + num + "BreweryLocation" type="text" required value=kegs[num].breweryLocation)

                .form-group
                  label.col-sm-2.control-label Beer Name
                  .col-sm-10
                    input.form-control(name="name" id= "keg" + num + "Name" type="text" required value=kegs[num].name)

                .form-group
                  label.col-sm-2.control-label Beer Type
                  .col-sm-10
                    input.form-control(name="type" id= "keg" + num + "Type" type="text" required value=kegs[num].type)

                .form-group
                  label.col-sm-2.control-label ABV %
                  .col-sm-2
                    .input-group
                      input.form-control(name="abv" id="keg" + num + "ABV" type="number" step="0.1" required value=kegs[num].abv)
                      span.input-group-addon %

                .form-group
                  label.col-sm-2.control-label Keg Size
                  .col-sm-10
                    select.form-control.kegVolumeSelect(name="volume" id="keg" + num + "Volume" data-forfieldset="keg" + num)
                      option(value="") Select...
                      option(value=640 selected=kegs[num].volume == 640) 1/6 Barrel (640oz)
                      option(value=992 selected=kegs[num].volume == 992) 1/4 Barrel (992oz)
                      option(value=1984 selected=kegs[num].volume == 1984) 1/2 Barrel (1984oz)

                .form-group
                  label.col-sm-2.control-label Ounces Remaining
                  .col-sm-2
                    .input-group
                      input.form-control.remaining(name="remaining" id="keg" + num + "Remaining" type="number" min="0" required value=kegs[num].remaining max=selected=kegs[num].volume)
                      span.input-group-addon oz

                .form-group
                  label.col-sm-2.control-label Pours
                  .col-sm-2
                    input.form-control.pours(name="pours" id="keg" + num + "Pours" type="number" min="0" required value=kegs[num].pours)

                .form-group
                  label.col-sm-2.control-label Keg Cost
                  .col-sm-2
                    .input-group
                      span.input-group-addon $
                      input.form-control(name="cost" id="keg" + num + "Cost" type="number" step="0.01" min="0" required value=kegs[num].cost)

                .form-group
                  label.col-sm-2.control-label Beer Color
                  .col-sm-10
                    .input-group
                      .radio
                        label
                          input(type="radio" name="color" id="color1" value="1" checked=kegs[num].color === 1)
                          | Pilsner/White
                      .radio
                        label
                          input(type="radio" name="color" id="color2" value="2" checked=kegs[num].color === 2)
                          | Pale Ale/Amber
                      .radio
                        label
                          input(type="radio" name="color" id="color3" value="3" checked=kegs[num].color === 3)
                          | Medium Pale Ale/IPA/Dark Lager
                      .radio
                        label
                          input(type="radio" name="color" id="color4" value="4" checked=kegs[num].color === 4)
                          | Brown
                      .radio
                        label
                          input(type="radio" name="color" id="color5" value="5" checked=kegs[num].color === 5)
                          | Stout/Porter

              .form-group
                .col-sm-offset-2.col-sm-10
                  button.btn.btn-primary(type=submit) Save Keg Info
                  button.btn.btn-default.reset(data-forfieldset="keg" + num) Reset

    script(src="/vendor/jquery/dist/jquery.min.js")
    script(src="/vendor/bootstrap/dist/js/bootstrap.min.js")
    script(src="/javascripts/admin.js")
